<%- include('partials/header') %>
<h1 class="dis-heading">
    Weather Details
</h1>

<div class="details">
     <h2>
        location: <%=name%>
     </h2>
     <p class="Coordinates">
        Coordinates : 
          <% if(locals.coord) {%>
        <li>latitude: <%=coord.lat%></li>
        <li>longitude: <%=coord.lon%></li>
<%}%>
     </p>
     <div class="weather">
         <h3>weather condition</h3>
             <% if(locals.weather) {%>
                <%
            const now = new Date();

const hours = now.getHours();
// console.log(hours);

let weatherEmoji = "ðŸŒˆ";

if (weather[0].main === "Clear")  {
  if(hours<=18)  weatherEmoji = "â˜€ï¸";
else{ weatherEmoji="ðŸŒ™"}}
else if (weather[0].main === "Clouds") weatherEmoji = "â˜ï¸";
else if (weather[0].main === "Rain") weatherEmoji = "ðŸŒ§ï¸";
else if (weather[0].main === "Drizzle") weatherEmoji = "ðŸŒ¦ï¸";
else if (weather[0].main === "Thunderstorm") weatherEmoji = "â›ˆï¸";
else if (weather[0].main === "Snow") weatherEmoji = "â„ï¸";
else if (weather[0].main === "Mist") weatherEmoji = "ðŸŒ«ï¸";
else if (weather[0].main === "Haze") weatherEmoji = "ðŸŒ«ï¸";
%>

           <li>condition: <%=weather[0].main%><%=weatherEmoji%></li>
           <li> Description: <%=weather[0].description%></li>
           

           <%}%>
     </div>
     <div class="tempdet">
         <% if(locals.main) {%>
        <li>Temp: <%=main.temp%><sup>o</sup>C</li>
        <li>feels_like: <%=main.feels_like%><sup>o</sup>C</li>
        <li>Min Temperature: <%=main.temp_min%><sup>o</sup>C</li>
        <li>Max Temperature: <%=main.temp_max%><sup>o</sup>C</li>
        <li>Humidity: <%=main.humidity%>%</li>



        <%}%>
     </div>
   <div class="back">
      <button onclick="history.back()" align="right">â®œ Go Back</button>
</div>


</div>
<%- include('partials/footer') %>


